body {
  font-family: Inter, sans-serif;
  background: #0f172a;
  color: white;
}
html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

/* NAVBAR */

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  background: rgba(15, 23, 42, 0.8);
  backdrop-filter: blur(10px);
  z-index: 10;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 30px;
  align-items: center;
}

/* HERO

.hero {
  padding-top: 140px;
  padding-bottom: 120px;
}

.hero-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  align-items: center;
}

.hero h1 {
  font-size: 56px;
  line-height: 1.1;
  margin-bottom: 20px;
}

.hero p {
  font-size: 20px;
  color: #94a3b8;
  margin-bottom: 30px;
}

.hero-image {
  width: 380px;
  animation: float 6s infinite ease-in-out;
} */

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

/* BOTÕES */

.btn-primary {
  background: #22c55e;
  border: none;
  padding: 14px 28px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.btn-outline {
  border: 1px solid #475569;
  background: none;
  padding: 14px 28px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

/* FEATURES */

.features {
  padding: 120px 0;
  background: #020617;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 50px;
}

.feature-card {
  background: #0f172a;
  padding: 30px;
  border-radius: 12px;
  transition: 0.3s;
}

.feature-card:hover {
  transform: translateY(-8px);
}

/* PRICING */

.pricing {
  padding: 120px 0;
}

.pricing-grid {
  display: flex;
  gap: 40px;
  margin-top: 50px;
}

.plan {
  background: #020617;
  padding: 40px;
  border-radius: 14px;
  width: 280px;
}

.plan.highlight {
  border: 2px solid #22c55e;
}

.price {
  font-size: 42px;
  margin: 20px 0;
}
